* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-primary);
}

:root {
  --bg-primary: #f5f8fb;
  --bg-secondary: #ffffff;

  --text-primary: #0f0f0f;
  --text-secondary: #bbc5d4;
  --text-accent: #33c100;
}
